[Desktop Entry]
Encoding=UTF-8
Name=EsZett
Comment=EsZett P2P Cryptocurrency
Comment[fr]=EsZett, monnaie virtuelle cryptographique pair à pair
Comment[tr]=EsZett, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/eszett-qt %u
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/eszett128.png
MimeType=x-scheme-handler/eszett;
Categories=Office;
